apiVersion: v1
kind: Secret
metadata:
  name: atmos-credentials
  namespace: ventureforum
  labels:
    project: ventureforum
type: Opaque
stringData:
  ATMOS_CONSUMER_KEY: "YOUR_ATMOS_CONSUMER_KEY"
  ATMOS_CONSUMER_SECRET: "YOUR_ATMOS_CONSUMER_SECRET"
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-jscorp
  namespace: ventureforum
  labels:
    project: ventureforum
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "registry.jscorp.uz": {
          "username": "YOUR_USERNAME",
          "password": "YOUR_PASSWORD",
          "auth": "BASE64(username:password)"
        }
      }
    }
